{
  // https://eslint.org/docs/rules/

  "extends": "eslint:recommended",

  "root": true,
  "parserOptions": {
      "ecmaVersion": 2017,
      "sourceType": "module",
      "ecmaFeatures": {
          "jsx": false,
          "impliedStrict": true
      }
  },
  "env": {
      "browser": false,
      "node": true,
      "es6": true
  },
  "rules": {
    "no-tabs": "error",
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "eol-last": "off",
    "no-undef": "error",
    "semi": ["error", "always"],
    "no-console": "off",
    "no-useless-escape": "off",
    "no-empty": "off",
    "camelcase": "error",
    "no-var": ["error"],
    "block-spacing": ["error", "always"],
    "comma-spacing": ["error", { "before": false, "after": true }],
    "curly": "error",
    "brace-style": "error",
    "operator-linebreak": ["error", "after"],
    "object-curly-newline": ["error", { "multiline": true }],
    "object-curly-spacing": ["error", "always"],
    "semi-spacing": "error",
    "space-before-blocks": ["error", "always"],
    "space-infix-ops": ["error", { "int32Hint": false }],
    "space-unary-ops": "error",
    "space-return-throw-case": "error",
    "no-mixed-spaces-and-tabs": "error",
    "no-whitespace-before-property": "error",
    "switch-colon-spacing": "error",
    "keyword-spacing": ["error", { "before": true }],
    "space-before-function-paren": ["error", { "anonymous": "always", "named": "never", "asyncArrow": "always" }],
    "no-unused-vars": ["error", { "vars": "all", "args": "none" }],
    "quotes": ["error", "single", {"avoidEscape": true} ],
    "no-param-reassign": "error"
  },
  "globals": {}
  }